// ==========================================================================
// COLOR

$color_green: #29CB7E;

// ==========================================================================
// TRANSITION
$global-transition: .25s;
$page-transition: .25s;

$loading-transition: .5s;

// ==========================================================================
// COMMON VAR

$global-padding: 40px;
$globalmobile-padding: 20px;
$global-maxwidth: 1280px;
$global_opacity: .5;

//SPECIFIC
$home-offcenter: 200px;
$mobileinnersection-maxwidth: 360px;
$mobileHeaderHeight: 80px;
$mobileSocialMedia: 35px;

// ==========================================================================
// REPONSIVE SIZES

// WIDTH
$break-smaller: 450px; // MOBILE
$break-small: 700px; // MOBILE
$break-medium: 1024px; // TABLET
$break-large: 1240px; // DESKTOP M

// HEIGHT
$height-break: 500px;

// ==========================================================================
// FONT SIZES

$font-size-title: 60px;
$lineheight-title: 40px;
$letterspacing-title: 2px;

$font-size-title-m: 60px;
$lineheight-title-m: 40px;
$letterspacing-title-m: 2px;

$font-size-heading2: 40px;
$lineheight-heading2: 40px;
$font-size-heading2-m: 35px;
$lineheight-heading2-m: 35px;

$font-size-button: 21px;
$lineheight-button: 16px;
$font-size-button-m: 16px;
$lineheight-button-m: 14px;

$font-size-body: 24px;
$font-size-subbody: 20px;

// ==========================================================================
// ANIMATION

@include keyframes(ingbg_transitionout) {

    0%,
    1% {
        @include transform(translate(100px, 0%));
        opacity: 1;
    }

    75%,
    100% {
        @include transform(translate(0px, 0%));
        opacity: 0;
    }
}


@include keyframes(ingbg_transitionin) {

    0%,
    25% {
        @include transform(translate(200px, 0%));
        opacity: 0;
    }

    90%,
    100% {
        @include transform(translate(100px, 0%));
        opacity: 1;
    }
}
@include keyframes(ingbg_transitionoutm) {

    0%,
    1% {
        @include transform(translate(0px, 0%));
        opacity: 1;
    }

    75%,
    100% {
        @include transform(translate(-100px, 0%));
        opacity: 0;
    }
}


@include keyframes(ingbg_transitioninm) {

    0%,
    25% {
        @include transform(translate(100px, 0%));
        opacity: 0;
    }

    90%,
    100% {
        @include transform(translate(00px, 0%));
        opacity: 1;
    }
}

@include keyframes(mobilemenuout) {
    0% {
        width: 100%;
        right: 0px;
        left: auto;
    }

    100% {
        width: 0%;
        right: 0px;
        left: auto;
    }
}
@include keyframes(mobilemenuin1) {
    0% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    50%, 100% {
        width: 100%;
        left: 0px;
        right: auto;
    }
}

@include keyframes(mobilemenuin2) {
    0%, 25% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    75%, 100% {
        width: 100%;
        left: 0px;
        right: auto;
    }
}

@include keyframes(mobilemenuin3) {
    0%, 50% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    100% {
        width: 100%;
        left: 0px;
        right: auto;
    }
}

@include keyframes(loadingbefore) {
    0% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    33% {
        width: 100%;
        left: 0px;
        right: auto;
    }

    66% {
        width: 100%;
        left: 0px;
        right: auto;
    }

    99%,
    100% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    66.5% {
        width: 100%;
        right: 0px;
        left: auto;
    }

    99% {
        width: 0%;
        right: 0px;
        left: auto;
    }

    100% {
        width: 0%;
        left: 0px;
        right: auto;
    }
}

@include keyframes(loadingbeforemobile) {
    0% {
        height: 0%;
        top: 0px;
        bottom: auto;
    }

    33% {
        height: 100%;
        top: 0px;
        bottom: auto;
    }

    66% {
        height: 100%;
        top: 0px;
        bottom: auto;
    }

    99%,
    100% {
        height: 0%;
        top: 0px;
        bottom: auto;
    }

    66.5% {
        height: 100%;
        bottom: 0px;
        top: auto;
    }

    99% {
        height: 0%;
        bottom: 0px;
        top: auto;
    }

    100% {
        height: 0%;
        top: 0px;
        bottom: auto;
    }
}


@include keyframes(loadingafter) {
    0% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    33% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    66% {
        width: 100%;
        left: 0px;
        right: auto;
    }

    66.5% {
        width: 100%;
        right: 0px;
        left: auto;
    }

    99% {
        width: 0%;
        right: 0px;
        left: auto;
    }

    100% {
        width: 0%;
        left: 0px;
        right: auto;
    }
}

@include keyframes(loadingaftermobile) {
    0% {
        height: 0%;
        top: 0px;
        bottom: auto;
    }

    33% {
        height: 0%;
        top: 0px;
        bottom: auto;
    }

    66% {
        height: 100%;
        top: 0px;
        bottom: auto;
    }

    66.5% {
        height: 100%;
        bottom: 0px;
        top: auto;
    }

    99% {
        height: 0%;
        bottom: 0px;
        top: auto;
    }

    100% {
        height: 0%;
        top: 0px;
        bottom: auto;
    }
}

@mixin mobilegaptop() {
    &::before{
        @include pseudo();
        position: relative;
        height: 7.5vh;
        min-height: 75px;
        max-height: 120px;
        pointer-events: none;
        width: 100%;
    }
}
