// ==========================================================================
// COLOR

$color_green: #29CB7E;

// ==========================================================================
// TRANSITION
$global-transition: .25s;
$page-transition: .25s;

$loading-transition: .5s;

// ==========================================================================
// COMMON VAR

$global-padding: 40px;
$global-maxwidth: 1280px;
$global_opacity: .5;
// ==========================================================================
// REPONSIVE SIZES

// WIDTH
$break-smaller: 450px; // MOBILE
$break-small: 750px; // MOBILE
$break-medium: 1024px; // TABLET
$break-large: 1240px; // DESKTOP M

// HEIGHT
$height-break: 500px;

//SPECIFIC
$home-offcenter: 200px;


// ==========================================================================
// FONT SIZES

$font-size-title: 60px;
$lineheight-title: 40px;
$letterspacing-title: 2px;

$font-size-heading2: 40px;
$lineheight-heading2: 40px;

$font-size-button: 21px;
$lineheight-button: 16px;

$font-size-body: 24px;
$font-size-subbody: 20px;

// ==========================================================================
// ANIMATION

@include keyframes(ingbg_transitionout) {

    0%,
    1% {
        @include transform(translate(100px, -50%));
        opacity: 1;
    }

    75%,
    100% {
        @include transform(translate(0px, -50%));
        opacity: 0;
    }
}


@include keyframes(ingbg_transitionin) {

    0%,
    25% {
        @include transform(translate(200px, -50%));
        opacity: 0;
    }

    90%,
    100% {
        @include transform(translate(100px, -50%));
        opacity: 1;
    }
}

@include keyframes(loadingbefore) {
    0% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    33% {
        width: 100%;
        left: 0px;
        right: auto;
    }

    66% {
        width: 100%;
        left: 0px;
        right: auto;
    }

    99%,
    100% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    66.5% {
        width: 100%;
        right: 0px;
        left: auto;
    }

    90% {
        width: 0%;
        right: 0px;
        left: auto;
    }

    100% {
        width: 0%;
        left: 0px;
        right: auto;
    }
}


@include keyframes(loadingafter) {
    0% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    33% {
        width: 0%;
        left: 0px;
        right: auto;
    }

    66% {
        width: 100%;
        left: 0px;
        right: auto;
    }

    66.5% {
        width: 100%;
        right: 0px;
        left: auto;
    }

    90% {
        width: 0%;
        right: 0px;
        left: auto;
    }

    100% {
        width: 0%;
        left: 0px;
        right: auto;
    }
}
