@import 'base/mixin';
@import 'base/normalize';

body {
  & main#status {
    height: 30px;
    color: white;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;

    // @include setflex(row, nowrap, flex-start, center, center);
    & #iframe {
      display: inline-block;
      margin-left: 10px;
    }
  }
  & #CheckForm {
    display: block;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    @include setflex(row, nowrap, flex-start, center, center);
    & > input[type=password],
    & > input[type=text] {
        background: none;
        position: relative;
        border-radius: 28px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 40px;
        margin: 0;
        outline: none;
        padding: 0 15px 0px 20px;
        z-index: 1;
        border: solid 2px white;
        // border-right: 0px;
        width: 250px;
        font-weight: 600;
        color: white;
        &::placeholder {
            color:#555;
        }
    }
    & > input[type=submit] {
        background: rgba(20,20,20,0);
        color:white;
        outline: none;
        border: solid 2px white;
        border-left: 0px;
        margin: 0px;
        border-radius: 28px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 40px;
        vertical-align: middle;
        line-height: 100%;
        padding: 0 20px 0px 15px;
        font-weight: 600;
        cursor: pointer;
        @include transition(background .2s);
        &:hover{
            background: rgba(50,50,50,1);
        }
    }
  }
}
