@import 'base/mixin';
@import 'base/normalize';

$padding: 40px;
$incorrect_red: rgb(150, 37, 37);
$build_yellow: rgb(133, 103, 40);
$correct_green: rgb(43, 85, 56);
body {
  & main#status {
    background: black;
    min-height: 100vh;
    color: white;
    padding: $padding;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;

    // @include setflex(row, nowrap, flex-start, center, center);
    & #iframe {
      display: inline-block;
      margin-left: 10px;
    }
    & #StatusDisplay {
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      width: 400px;
      position: relative;
      @include transition(opacity 0.25s);
      @include setflex(row, nowrap, flex-start, center, center);
      & > span {
        @include setflex(row, nowrap, center, center, center);
        background: none;
        position: relative;
        border-radius: 28px;
        height: 40px;
        margin: 0;
        outline: none;
        z-index: 1;
        border: solid 2px white;
        font-weight: 600;
        color: white;
        width: 50%;
        &:first-child {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-right: 0px;
          padding: 0 15px 0px 20px;
        }
        &:nth-child(2) {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          text-align: center;
          padding: 0 20px 0px 15px;
          @include transition(background 0.2s);
          &.error {
            background: $incorrect_red;
          }
          &.build {
            background: $build_yellow;
          }
          &.success {
            background: $correct_green;
          }
        }
        &:last-child{
            display: block;
            position: absolute;
            font-weight: normal;
            width: 100%;
            height: 20px;
            left: 20px;
            top: auto;
            bottom: -10px;
            @include transform(translate(0px, 100%));
            border: none;
            border-radius: none;
            font-size: 14px;
            color: #777;
        }
      }
    }
    & #CheckForm {
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      width: 400px;
      @include transition(opacity 0.25s);
      @include setflex(row, nowrap, flex-start, center, center);
      & > input[type='password'],
      & > input[type='text'] {
        background: none;
        position: relative;
        border-radius: 28px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 40px;
        margin: 0;
        outline: none;
        padding: 0 15px 0px 20px;
        z-index: 1;
        border: solid 2px white;
        // border-right: 0px;
        width: 250px;
        font-weight: 600;
        color: white;
        &::placeholder {
          color: #555;
        }
      }
      & > input[type='submit'] {
        background: rgba(20, 20, 20, 0);
        color: white;
        outline: none;
        border: solid 2px white;
        border-left: 0px;
        margin: 0px;
        border-radius: 28px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 40px;
        vertical-align: middle;
        line-height: 100%;
        padding: 0 20px 0px 15px;
        font-weight: 600;
        width: 150px;
        text-align: center;
        cursor: pointer;
        @include transition(background 0.2s);
        &:hover {
          background: rgba(50, 50, 50, 1);
        }
        &.error {
          background: $incorrect_red;
        }
        &.success {
          background: $correct_green;
        }
      }
    }
    &:not(.displayStatus) {
      & #StatusDisplay {
        position: absolute;
        top: $padding;
        left: $padding;
        opacity: 0;
        pointer-events: none;
      }
      & #CheckForm {
        opacity: 1;
        pointer-events: auto;
      }
    }
    &.displayStatus {
      & #StatusDisplay {
        opacity: 1;
        pointer-events: auto;
      }
      & #CheckForm {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: $padding;
        left: $padding;
      }
    }
  }
}
