main.home {
    & .overlay_wrapper{
        position: relative;
    }
    & .overlay {
        &.stuck{
            position: absolute;
            top: auto;
            bottom: 0px;
            left: 0px;
        }
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "left right";

            &>*:first-child {
                grid-area: left;
                justify-self: start;
            }

            & .snap_nav {
                grid-area: right;
                justify-self: end;
                width: 25px;
                height: auto;

                &>* {
                    width: 100%;
                    padding-top: 100%;
                    pointer-events: auto;
                    background: blue;
                    display: block;

                    &:hover {
                        opacity: 0.5;
                    }

                    &.active {
                        background: green;
                    }
                }
            }
        }
    }

    & section:not(.footer) {
        scroll-snap-align: start;
        height: 100vh;
        max-height: 100vh;
        -webkit-scroll-snap-coordinate: 0% 0%;
        color: white;

        &>.wrapper {
            &>h1 {
                margin: 0px;
                font-size: $font-size-title;
                letter-spacing: $letterspacing-title;
                font-family: 'Amarillo';
                line-height: $lineheight-title;
            }
        }

        &:nth-child(2) {
            &>.wrapper {
                position: relative;
                @include setflex(row, nowrap, flex-start, center, center);
                & .logo{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    display: inline-block;
                    width: 140px;
                    & > img{
                        width: 100%;
                    }
                }
                & a.logo{
                    @include transition(opacity $global-transition);
                    body.onhover &:hover {
                        opacity: $global_opacity;
                    }
                }
                & > .content{
                    width: 100%;
                    position: relative;
                    & > span{
                        display: inline-block;
                        font-family: 'Amarillo';
                        margin-right: 10px;
                        font-size: 120px;
                        line-height: 90%;
                    }
                    & a#GetButton{
                        font-family: 'Amarillo';
                        position: absolute;
                        left: 0px;
                        bottom: -20px;
                        @include transform(translate(0%, 100%));
                        border: solid 3px $color_green;
                        padding: 8px 40px;
                        display: inline-block;
                        color: $color_green;
                        font-size: 30px;
                        line-height: 28px;
                        @include transition(color $global-transition, background $global-transition);
                        body.onhover &:hover{
                            background: $color_green;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
