body.__snapon {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
    &.__snaphastouch{
        overflow: hidden;
    }
}
